{% extends 'base.html' %}
{% load static %}

{% block title %}Manage Volunteers{% endblock %}

{% block content %}
    <div class="clearfix">
        <h3>Manage Volunteers</h3>
    </div>
    {% if success %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fa fa-check-circle"></i>
                    <strong>Success</strong>&nbsp;
                    {{ success }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if error %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <i class="fa fa-warning"></i>
                    <strong>Error</strong>&nbsp;
                    {{ error }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-9">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-users"></i>&nbsp;
                    Registered Volunteers
                </header>
                <div class="table-responsive">
                    <table class="table table-striped m-b-none" data-ride="datatables" id="active-volunteers-table">
                        <thead>
                            <tr>
                                <th width="20%">Last Name</th>
                                <th width="20%">First Name</th>
                                <th width="20%">Email</th>
                                <th width="10%">Days Registered</th>
                                <th width="10%">Days Completed</th>
                                <th width="10%">Days Missed</th>
                                <th width="10%">View</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users.all %}
                                {% if user.is_volunteer and user.is_active %}
                                    <tr>
                                        <td class="cat-title">{{ user.last_name }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.signup_count }}</td>
                                        <td>{{ user.completed_count }}</td>
                                        <td>{{ user.missed_count }}</td>
                                        <td class="cat-btn">
                                            <a href="/dashboard/volunteers/view/?id={{ user.id }}" class="btn btn-sm btn-white">View</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-envelope"></i>&nbsp;
                    Invited Volunteers
                </header>
                <div class="table-responsive">
                    <table class="table table-striped m-b-none" data-ride="datatables" id="invited-volunteers-table">
                        <thead>
                            <tr>
                                <th width="20%">Last Name</th>
                                <th width="20%">First Name</th>
                                <th width="20%">Email</th>
                                <th width="10%">Resend Invite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users.all %}
                                {% if user.is_volunteer and not user.is_active %}
                                    <tr>
                                        <td class="cat-title">{{ user.last_name }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td class="cat-btn">
                                            <button class="btn btn-sm btn-white volunteer_invite_resend" data-volunteer-id="{{ user.id }}">
                                                Resend Invite
                                            </button>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
        <div class="col-md-3">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-plus-circle"></i>&nbsp;
                    Add a Volunteer
                </header>
                <form action="/dashboard/volunteers/" method="POST" class="panel-body">
                    <div class="block">
                        <label class="control-label">First Name</label>
                        <input type="text" name="first_name" placeholder="Joe" class="form-control" required>
                    </div>
                    <div class="block">
                        <label class="control-label">Last Name</label>
                        <input type="text" name="last_name" placeholder="Smith" class="form-control" required>
                    </div>
                    <div class="block">
                        <label class="control-label">Email</label>
                        <input type="email" name="email" placeholder="volunteer@email.com" class="form-control" required>
                    </div>
                    <input type="hidden" name="type" value="single">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-inverse btn-block">Add Volunteer</button>
                </form>
            </section>
            <p>&nbsp;</p>
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-cloud-upload"></i>&nbsp;
                    Bulk Import Volunteers
                </header>
                <form action="/dashboard/volunteers/" method="POST" enctype="multipart/form-data" class="panel-body">
                    <ul class="breadcrumb">
                        <li class="active">
                            <i class="fa fa-info-circle"></i>&nbsp;
                            CSV files need to have 3 columns with these exact headings: Email, First_Name, Last_Name.
                        </li>
                    </ul>
                    <input type="file" name="csv_user_list" title="Choose CSV file" accept=".csv" class="btn btn-sm btn-default m-b-small" style="left: -168.75px; top: 14px;">
                    <input type="hidden" name="type" value="csv">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-xs btn-inverse btn-block">Upload & Import</button>
                </form>
            </section>
        </div>
    </div>

    <form action="/dashboard/volunteers/" method="POST" class="hidden hide text-hide" id="resend_invite_form" style="display: none">
        <input type="hidden" name="volunteer_id" id="volunteer_id">
        <input type="hidden" name="type" value="resend_invite">
        {% csrf_token %}
    </form>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/file-input/bootstrap.file-input.js' %}"></script>
    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript">
        // set up table of active volunteers
        $('#active-volunteers-table').dataTable({
            "bProcessing": true,
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "aoColumnDefs": [
                {
                    "bSortable": false,
                    "aTargets": [6]
                }
            ]
        });
        // set up table of invited volunteers
        $('#invited-volunteers-table').dataTable({
            "bProcessing": true,
            "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col col-sm-6'p>>",
            "sPaginationType": "full_numbers",
            "aoColumnDefs": [
                {
                    "bSortable": false,
                    "aTargets": [3]
                }
            ]
        });
    </script>
    <script type="text/javascript">
        // resend volunteer invite
        $("table").on("click", "button.volunteer_invite_resend", function(){
            var volunteer_id = $(this).attr('data-volunteer-id');
            $('#volunteer_id').val(volunteer_id);
            $('#resend_invite_form').submit();
        });
    </script>
{% endblock %}
