{% extends 'base.html' %}
{% load static %}

{% block title %}{{ volunteer.last_name }}, {{ volunteer.first_name }}{% endblock %}

{% block content %}
    <div class="clearfix">
        <h3>
            Volunteer: {{ volunteer.last_name }}, {{ volunteer.first_name }}
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body pull-in text-center m-t-n m-b-n">
                    <div class="col-xs-4 bg-info padder-v">
                        <div class="h2">{{ volunteer.signup_count }}</div>
                        Signed Up
                    </div>
                    <div class="col-xs-4 bg-success padder-v">
                        <div class="h2">{{ volunteer.completed_count }}</div>
                        Completed
                    </div>
                    <div class="col-xs-4 bg-danger padder-v">
                        <div class="h2">{{ volunteer.missed_count }}</div>
                        Missed
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    <i class="fa fa-list-alt"></i>&nbsp;
                    Registrations
                </header>
                <div class="table-responsive">
                    <table class="table table-striped m-b-none" data-ride="datatables">
                        <thead>
                            <tr>
                                <th width="20%">Type</th>
                                <th width="20%">Date</th>
                                <th width="15%">Start Time</th>
                                <th width="15%">End Time</th>
                                <th width="20%">Signed Up</th>
                                <th width="10%">Attended</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for registration in volunteer.registrations.all %}
                                <tr>
                                    <td>{{ registration.volunteer_date.category }}</td>
                                    <td class="cat-title">{{ registration.volunteer_date.event_begin|date:'D, M j, Y' }}</td>
                                    <td>{{ registration.volunteer_date.event_begin|date:'g:i a' }}</td>
                                    <td>{{ registration.volunteer_date.event_end|date:'g:i a' }}</td>
                                    <td>{{ registration.signup_time }}</td>
                                    <td>
                                        {% if registration.marked %}
                                            {% if registration.attended %}
                                                <span class="text-success">
                                                    <i class="fa fa-check"></i> Yes
                                                </span>
                                            {% else %}
                                                <span class="text-danger">
                                                    <i class="fa fa-times"></i> Absent
                                                </span>
                                            {% endif %}
                                        {% elif registration.cancelled %}
                                            <span class="text-info">
                                                <i class="fa fa-times"></i> Cancelled
                                            </span>
                                        {% else %}
                                            <span class="text-warning">
                                                <i class="fa fa-circle"></i> Pending
                                            </span>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block custom_js %}
    <script src="{% static 'js/datatables/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript">
        // set up table of registrations
        $('[data-ride="datatables"]').each(function(){
            $(this).dataTable({
                "bProcessing": true,
                "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col col-sm-6'p>>",
                "sPaginationType": "full_numbers",
                "aaSorting": [
                    [ 1, "asc" ]
                ]
            });
        });
    </script>
{% endblock %}
