<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Dashboard{% endblock %} | WIS Volunteer Portal</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="author" content="MCA Weekend Islamic School">
        <meta name="robots" content="noindex, nofollow">

        <!-- favicon icons -->
        <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

        <!-- styles -->
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/plugin.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        {% block custom_css %}{% endblock %}
        <!--[if lt IE 9]>
            <script src="{{ STATIC_URL }}js/ie/respond.min.js"></script>
            <script src="{{ STATIC_URL }}js/ie/html5.js"></script>
            <script src="{{ STATIC_URL }}js/ie/excanvas.js"></script>
        <![endif]-->
    </head>

    <body>
        <!-- header -->
        {% block navbar %}
            <header id="header" class="navbar bg bg-black">
                <ul class="nav navbar-nav pull-right">
                    {% if user.is_admin and not user.is_volunteer %}
                        <li>
                            <div class="m-t-small">
                                <a href="/dashboard/volunteers/" class="btn btn-sm btn-inverse">
                                    <i class="fa fa-fw fa-users"></i>&nbsp; Manage Volunteers
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="m-t-small">
                                <a href="/dashboard/dates/" class="btn btn-sm btn-inverse">
                                    <i class="fa fa-fw fa-calendar"></i>&nbsp; Volunteering Dates
                                </a>
                            </div>
                        </li>
                    {% else %}
                        <li>
                            <div class="m-t-small">
                                <a href="/dashboard/register/" class="btn btn-sm btn-inverse">
                                    <i class="fa fa-fw fa-plus"></i>&nbsp; Volunteering Sign Up
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="m-t-small">
                                <a href="/dashboard/manage/" class="btn btn-sm btn-inverse">
                                    <i class="fa fa-fw fa-edit"></i>&nbsp; Edit Sign Ups
                                </a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="hidden-xs-only">{{ user.first_name }}&nbsp;{{ user.last_name }}</span>&nbsp;
                            <b class="caret hidden-xs-only"></b>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="/dashboard/settings/">Account Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout/">Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <a class="navbar-brand" href="/dashboard/">
                    <img src="{{ STATIC_URL }}images/logo.png">
                </a>
                <button type="button" class="btn btn-link pull-left nav-toggle visible-xs" data-toggle="class:slide-nav slide-nav-left" data-target="body">
                    <i class="fa fa-bars fa-lg text-default"></i>
                </button>
            </header>
        {% endblock %}
        <!-- / header -->

        <!-- main content -->
        <section id="content">
            <section class="main padder">
                {% block content %}
                {% endblock %}
            </section>
        </section>
        <!-- /main content -->

        <!-- footer -->
        <footer id="footer">
            <div class="text-center padder clearfix">
                <p>
                    <small>
                        &copy; {% now 'Y' %} MCA Weekend Islamic School, a registered California 501(c)(3) non-profit.<br>
                        All rights reserved. Dev by <a href="https://github.com/skarim/wis-application" target="_blank">skarim</a>. Questions? <a href="mailto:wis@mcabayarea.org">Contact Us</a>.
                    </small>
                </p>
            </div>
        </footer>
        <a href="#" class="hide slide-nav-block" data-toggle="class:slide-nav slide-nav-left" data-target="body"></a>
        <!-- / footer -->

        {% block modals %}{% endblock %}

        <!-- loader overlay -->
        <div id="globalLoaderOverlay">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-5">
                    <section class="panel bg-inverse text-center">
                        <div class="panel-body">
                            <img class="loading-img" src="{{ STATIC_URL }}images/loader.gif">
                            <div class="h5 text-muted m-t m-b-n-mini">
                                LOADING
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- / loader overlay -->

        <!-- javascript -->
        <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.js"></script>
        {% block custom_js %}{% endblock %}
        <script type="text/javascript">
            // loading overlay after form submission
            $('form').submit(function(){
                var $overlay = $('#globalLoaderOverlay');
                $overlay.show();
                $overlay.css('visibility', 'visible');
                // finally, submit form
                $(this).get(0).submit();
            });
        </script>
    </body>
</html>