{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block navbar %}
    <header id="header" class="navbar bg bg-black">
        <a href="/login/" class="btn btn-link pull-right m-t-mini">
            <i class="fa fa-arrow-circle-left fa-lg text-default"></i>
        </a>
        <a class="navbar-brand" href="//mcawis.org">
            <img src="{{ STATIC_URL }}images/logo.png">
        </a>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 m-t-large">
            <section class="panel">
                <header class="panel-heading text-center">
                    Forgot your password? Enter your email address to reset
                </header>
                <form action="" method="POST" class="panel-body">
                    {% if success %}
                        <div class="alert alert-success">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <i class="fa fa-check"></i>
                            <strong>Success</strong>&nbsp;
                            {{ success }}
                        </div>
                    {% endif %}
                    {% if error %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <i class="fa fa-warning"></i>
                            <strong>Error</strong>&nbsp;
                            {{ error }}
                        </div>
                    {% endif %}
                    <div class="block">
                        <label class="control-label">Email</label>
                        <input type="email" name="email" placeholder="youremail@mail.com" class="form-control" required>
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-inverse btn-block"><i class="fa fa-lock pull-left"></i>Reset Password</button>
                </form>
            </section>
            <p class="text-center">
                <a href="/login/">
                    Back to login page
                </a>
            </p>
        </div>
    </div>
{% endblock %}
