{% extends 'base.html' %}

{% block title %}Create Account{% endblock %}

{% block navbar %}
    <header id="header" class="navbar bg bg-black">
        <a href="#modal" data-toggle="modal" class="btn btn-link pull-right m-t-mini"><i class="fa fa-question fa-lg text-default"></i></a>
        <a class="navbar-brand" href="/">
            <img src="{{ STATIC_URL }}images/logo.png">
        </a>
    </header>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 m-t-large">
            <section class="panel">
                <header class="panel-heading text-center">
                    Create your account
                </header>
                <form action="" method="POST" class="panel-body">
                    {% if state %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <i class="fa fa-warning"></i>
                            <strong>Error</strong>&nbsp;
                            {{ state }}
                        </div>
                    {% endif %}
                    <div class="block">
                        <label class="control-label">Email</label>
                        <input type="email" name="email" placeholder="youremail@mail.com" class="form-control" value="{{ request.GET.email }}" required {% if request.GET.email %}readonly{% endif %}>
                    </div>
                    <div class="block">
                        <label class="control-label">First Name</label>
                        <input type="text" name="first_name" placeholder="John" class="form-control" value="{{ request.GET.first_name }}" required>
                    </div>
                    <div class="block">
                        <label class="control-label">Last Name</label>
                        <input type="text" name="last_name" placeholder="Smith" class="form-control" value="{{ request.GET.last_name }}" required>
                    </div>
                    <div class="block">
                        <label class="control-label">Password</label>
                        <input type="password" name="password" placeholder="your password" class="form-control" required>
                    </div>
                    <div class="block">
                        <label class="control-label">Confirm Password</label>
                        <input type="password" name="confirm_password" placeholder="retype password" class="form-control" required>
                    </div>
                    {% if request.GET.admin == 'true' %}
                        <div class="block">
                            <label class="control-label">Admin Sign Up Key</label>
                            <input type="text" name="admin_key" placeholder="admin signup key" class="form-control" value="{{ request.GET.key }}" required readonly>
                        </div>
                    {% endif %}
                    <input type="hidden" name="type" value="{% if request.GET.admin == 'true' %}admin{% else %}volunteer{% endif %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-inverse btn-block m-b-small"><i class="fa fa-lock pull-left"></i>Create Account</button>
                    <div class="line line-dashed"></div>
                    <p class="text-muted text-center"><small>Already have an account?</small></p>
                    <a href="/login/" class="btn btn-white btn-block">Sign in</a>
                </form>
            </section>
        </div>
    </div>
{% endblock %}

{% block modals %}
    <div id="modal" class="modal fade">
        <div class="m-b-none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title" id="myModalLabel">Need help?</h4>
                    </div>
                    <div class="modal-body">
                        <div class="block">
                            <label class="control-label">What is this?</label>
                            <p>
                                Welcome to the WIS Volunteer scheduling website.
                                You can sign up for, edit, and view all your volunteer appointments through this website.
                                You should have received a login in your email. If not, please contact the admin at wis@mcabayarea.org.
                            </p>
                        </div>
                        <div class="block">
                            <label class="control-label">How do I log in?</label>
                            <p>
                                After you have registered your child with the school, you should have received an email with instructions.
                                You will be given a temporary password that you will need to change the first time your sign in.
                            </p>
                        </div>
                        <div class="block">
                            <label class="control-label">I never received an email. What should I do?</label>
                            <p>
                                Try checking your spam folder and any other email inboxes first.
                                If you still cannot find an email, please contact the admin at <a href="mailto:wis@mcabayarea.org">wis@mcabayarea.org</a>.
                            </p>
                        </div>
                    </div>
                </div><!-- /.modal-content -->
            </div>
        </div>
    </div>
{% endblock %}